yt-automation-workflow-final.json
{
  "id": "yt-shorts-automation-pipeline",
  "name": "YT Automation Pipeline - FIXED",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "trigger-yt-shorts",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "trigger-webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 3 * * 2,3,4"
            },
            {
              "field": "cronExpression",
              "expression": "30 8 * * 2,3,4"
            },
            {
              "field": "cronExpression",
              "expression": "30 12 * * 6"
            }
          ]
        }
      },
      "id": "trigger-schedule",
      "name": "Scheduled Posts",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        500
      ]
    },
    {
      "parameters": {},
      "id": "trigger-manual",
      "name": "Manual Run",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        700
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://host.docker.internal:5001/get-next-topic",
        "options": {}
      },
      "id": "read-sheets",
      "name": "Read Next Content Idea",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        260,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst nextRow = items.find(item => {\n  const status = item.json.Status || item.json['Video Status'] || '';\n  return !status || status.trim() === '';\n});\nif (!nextRow) {\n  throw new Error('No pending topics found in the spreadsheet!');\n}\nreturn [nextRow];"
      },
      "id": "filter-next-row",
      "name": "Filter Next Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        380,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama3.2\",\n  \"stream\": false,\n  \"system\": \"You are a professional YouTube Shorts script writer. Always respond with raw JSON only.\",\n  \"prompt\": \"Create a high-energy 50-second YouTube Shorts script for topic: {{ $json.Topic }}. Hook Idea: {{ $json['Hook Idea'] }}. Output JSON with keys: 'title' (YT title), 'script' (the spoken text), 'description' (include #shorts), and 'on_screen_title' (2-3 words MAX in ALL CAPS for video overlays).\"\n}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "ai-generate",
      "name": "Write Script (Ollama)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        520,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nif (items.length === 0 || !items[0].json || !items[0].json.response) {\n  return [{ json: { error: 'No response from AI' } }];\n}\n\n// Strip markdown code fences (```json ... ``` or ``` ... ```)\nlet raw = items[0].json.response.trim();\nraw = raw.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```$/, '').trim();\n\nlet parsed = {};\ntry {\n  parsed = JSON.parse(raw);\n} catch(e) {\n  // Fallback: regex extract individual fields\n  function extract(key, text) {\n    const m = text.match(new RegExp('\"' + key + '\"\\\\s*:\\\\s*\"([\\\\s\\\\S]*?)(?=\"\\\\s*[,}])', ''));\n    return m ? m[1].replace(/\\\\n/g, '\\n').replace(/\\\\\"/g, '\"').trim() : '';\n  }\n  parsed = {\n    script: extract('script', raw),\n    title: extract('title', raw),\n    description: extract('description', raw),\n    on_screen_title: extract('on_screen_title', raw)\n  };\n}\n\n// If script is an array, join it\nlet script = parsed.script || '';\nif (Array.isArray(script)) script = script.join(' ');\n\nreturn [{\n  json: {\n    script: script || 'Script failed',\n    title: parsed.title || 'New Video',\n    description: parsed.description || '#shorts',\n    on_screen_title: (parsed.on_screen_title || 'TOP REVEAL').toUpperCase(),\n    row_number: $('Filter Next Row').item.json.row_number\n  }\n}];"
      },
      "id": "parse-ai",
      "name": "Parse AI Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:5001/tts",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"{{ $json.script }}\",\n  \"title\": \"{{ $json.on_screen_title }}\"\n}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "make-video",
      "name": "Local Video Maker",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-success",
              "leftValue": "={{ $json.status }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "safety-net",
      "name": "Safety Check?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        1300,
        400
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://host.docker.internal:5001/get-video",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "download-video",
      "name": "Download Final Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:5001/upload_youtube",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video_path\": \"{{ $('Local Video Maker').item.json.video_path }}\",\n  \"title\": \"{{ $('Parse AI Output').item.json.title }}\",\n  \"description\": \"{{ $('Parse AI Output').item.json.description }}\",\n  \"tags\": [\"#shorts\", \"#facts\", \"#weirdscience\"]\n}",
        "options": {}
      },
      "id": "yt-upload",
      "name": "Upload to YouTube",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1820,
        280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:5001/mark-done",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"topic\": \"{{ $('Filter Next Row').item.json.Topic }}\",\n  \"status\": \"DONE\",\n  \"youtube_url\": \"{{ $json.url || '' }}\"\n}",
        "options": {}
      },
      "id": "mark-done",
      "name": "Cross it off",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2080,
        280
      ]
    },
    {
      "parameters": {},
      "id": "stop-workflow",
      "name": "Safety Net STOP",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1560,
        500
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Read Next Content Idea",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scheduled Posts": {
      "main": [
        [
          {
            "node": "Read Next Content Idea",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Run": {
      "main": [
        [
          {
            "node": "Read Next Content Idea",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Next Content Idea": {
      "main": [
        [
          {
            "node": "Filter Next Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Next Row": {
      "main": [
        [
          {
            "node": "Write Script (Ollama)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Script (Ollama)": {
      "main": [
        [
          {
            "node": "Parse AI Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Output": {
      "main": [
        [
          {
            "node": "Local Video Maker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Local Video Maker": {
      "main": [
        [
          {
            "node": "Safety Check?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Safety Check?": {
      "main": [
        [
          {
            "node": "Download Final Video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Safety Net STOP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Final Video": {
      "main": [
        [
          {
            "node": "Upload to YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to YouTube": {
      "main": [
        [
          {
            "node": "Cross it off",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
