files/03_previous_setup_archive/n8n_shorts_workflow.json
{
  "name": "YouTube Shorts Pipeline (Flask + Gemini)",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1-5"
            }
          ]
        }
      },
      "id": "trigger-9am",
      "name": "Every Weekday @ 9AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        500
      ]
    },
    {
      "parameters": {
        "operation": "list",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "INSERT_SHEET_ID_HERE"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Topics Queue"
        },
        "filters": {
          "conditions": [
            {
              "column": "Video Status",
              "operator": "isEmpty"
            }
          ]
        },
        "options": {
          "limit": 1
        }
      },
      "id": "read-sheets",
      "name": "Read Next Content Idea",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        260,
        400
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "INSERT_CREDENTIAL_ID_HERE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-pro:generateContent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{$secrets.GEMINI_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\\n  \\\"contents\\\": [\\n    {\\n      \\\"parts\\\": [\\n        {\\n          \\\"text\\\": \\\"You are a YouTube Shorts script writer.\\\\nTopic: {{ $json.Topic }}\\\\nCategory: {{ $json.Category }}\\\\n\\\\nGenerate ONLY a script in this exact format:\\\\n[HOOK]\\\\n[BODY]\\\\n[CTA]\\\\n\\\\nMake it 30-40 seconds long (approx 100 words). Make it engaging and conversational.\\\"\\n        }\\n      ]\\n    }\\n  ]\\n}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "ai-generate",
      "name": "Write Script (Gemini)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        520,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const text = $input.all()[0].json.candidates[0].content.parts[0].text;\\n\\nconst hookMatch = text.match(/\\\\[HOOK\\\\](.*?)\\\\[BODY\\\\]/s);\\nconst bodyMatch = text.match(/\\\\[BODY\\\\](.*?)\\\\[CTA\\\\]/s);\\nconst ctaMatch = text.match(/\\\\[CTA\\\\](.*?)$/s);\\n\\nreturn [{\\n  json: {\\n    hook: hookMatch ? hookMatch[1].trim() : \\\"\\\",\\n    body: bodyMatch ? bodyMatch[1].trim() : text,\\n    cta: ctaMatch ? ctaMatch[1].trim() : \\\"\\\",\\n    topic: $('Read Next Content Idea').item.json.Topic,\\n    category: $('Read Next Content Idea').item.json.Category,\\n    row_number: $('Read Next Content Idea').item.json.row_number,\\n    video_id: `video_${Date.now()}`\\n  }\\n}];"
      },
      "id": "parse-ai",
      "name": "Parse AI Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5000/generate_video",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\\n  \\\"script\\\": \\\"{{ $json.body }}\\\",\\n  \\\"hook\\\": \\\"{{ $json.hook }}\\\",\\n  \\\"cta\\\": \\\"{{ $json.cta }}\\\",\\n  \\\"category\\\": \\\"{{ $json.category }}\\\",\\n  \\\"video_id\\\": \\\"{{ $json.video_id }}\\\",\\n  \\\"audio_speed\\\": 1.15\\n}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "make-video",
      "name": "Flask Video Generation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        400
      ]
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "minutes"
      },
      "id": "wait-node",
      "name": "Wait 5 Mins",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1280,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5000/upload_youtube",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\\n  \\\"video_path\\\": \\\"{{ $('Flask Video Generation').item.json.video_path }}\\\",\\n  \\\"title\\\": \\\"{{ $('Parse AI Output').item.json.hook }} #shorts\\\",\\n  \\\"description\\\": \\\"{{ $('Parse AI Output').item.json.category }}\\\\n\\\\n{{ $('Parse AI Output').item.json.body }}\\\\n\\\\n#psychology #facts #shorts\\\",\\n  \\\"tags\\\": [\\\"psychology\\\", \\\"facts\\\", \\\"shorts\\\"],\\n  \\\"category\\\": \\\"27\\\"\\n}",
        "options": {}
      },
      "id": "yt-upload",
      "name": "YouTube Upload (via Flask)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1520,
        400
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "INSERT_SHEET_ID_HERE"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Topics Queue"
        },
        "rowNumber": "={{ $('Parse AI Output').item.json.row_number }}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Script Status": "Done",
            "Video Status": "Uploaded",
            "YouTube URL": "={{ $json.url }}"
          }
        }
      },
      "id": "mark-done",
      "name": "Update Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        1780,
        400
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "INSERT_CREDENTIAL_ID_HERE",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read Next Content Idea",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every Weekday @ 9AM": {
      "main": [
        [
          {
            "node": "Read Next Content Idea",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Next Content Idea": {
      "main": [
        [
          {
            "node": "Write Script (Gemini)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Script (Gemini)": {
      "main": [
        [
          {
            "node": "Parse AI Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Output": {
      "main": [
        [
          {
            "node": "Flask Video Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flask Video Generation": {
      "main": [
        [
          {
            "node": "Wait 5 Mins",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5 Mins": {
      "main": [
        [
          {
            "node": "YouTube Upload (via Flask)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube Upload (via Flask)": {
      "main": [
        [
          {
            "node": "Update Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}