files/03_previous_setup_archive/n8n_ollama_workflow.json
{
  "name": "YouTube Shorts Pipeline (Flask + Ollama)",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 400]
    },
    {
      "parameters": {
        "operation": "list",
        "documentId": {"__rl": true, "mode": "id", "value": "INSERT_SHEET_ID_HERE"},
        "sheetName": {"__rl": true, "mode": "name", "value": "Topics Queue"},
        "filters": {
          "conditions": [{"column": "Video Status", "operator": "isEmpty"}]
        },
        "options": {"limit": 1}
      },
      "id": "read-sheets",
      "name": "Read Next Content Idea",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [260, 400],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "INSERT_CREDENTIAL_ID_HERE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama3\",\n  \"prompt\": \"You are a YouTube Shorts script writer.\\nTopic: {{ $('Read Next Content Idea').item.json.Topic }}\\nCategory: {{ $('Read Next Content Idea').item.json.Category }}\\n\\nGenerate ONLY a script in this exact format:\\n[HOOK]\\n[BODY]\\n[CTA]\\n\\nMake it 30-40 seconds long (approx 100 words). Make it engaging and conversational. Do not include any other text.\",\n  \"stream\": false\n}",
        "options": {"timeout": 300000}
      },
      "id": "ai-generate",
      "name": "Write Script (Ollama)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [520, 400]
    },
    {
      "parameters": {
        "jsCode": "const text = $input.all()[0].json.response;\n\nconst hookMatch = text.match(/\\[HOOK\\](.*?)(?=\\[BODY\\]|$)/s);\nconst bodyMatch = text.match(/\\[BODY\\](.*?)(?=\\[CTA\\]|$)/s);\nconst ctaMatch = text.match(/\\[CTA\\](.*)$/s);\n\nreturn [{\n  json: {\n    hook: hookMatch ? hookMatch[1].trim() : \"\",\n    body: bodyMatch ? bodyMatch[1].trim() : text,\n    cta: ctaMatch ? ctaMatch[1].trim() : \"\",\n    topic: $('Read Next Content Idea').item.json.Topic,\n    category: $('Read Next Content Idea').item.json.Category,\n    row_number: $('Read Next Content Idea').item.json.row_number,\n    video_id: `video_${Date.now()}`\n  }\n}];"
      },
      "id": "parse-ai",
      "name": "Parse AI Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [780, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5000/generate_video",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"script\": \"{{ $json.body }}\",\n  \"hook\": \"{{ $json.hook }}\",\n  \"cta\": \"{{ $json.cta }}\",\n  \"category\": \"{{ $json.category }}\",\n  \"video_id\": \"{{ $json.video_id }}\"\n}",
        "options": {"timeout": 600000}
      },
      "id": "make-video",
      "name": "Flask Video Gen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1040, 400]
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "minutes"
      },
      "id": "wait-node",
      "name": "Wait 5 Mins",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1280, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5000/upload_youtube",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video_path\": \"{{ $('Flask Video Gen').item.json.video_path }}\",\n  \"title\": \"{{ $('Parse AI Output').item.json.hook }} #shorts\",\n  \"description\": \"{{ $('Parse AI Output').item.json.category }}\\n\\n{{ $('Parse AI Output').item.json.body }}\\n\\n#psychology #facts #shorts\",\n  \"tags\": [\"psychology\", \"facts\", \"shorts\"],\n  \"category\": \"27\"\n}",
        "options": {}
      },
      "id": "yt-upload",
      "name": "YouTube Upload (via Flask)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1520, 400]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {"__rl": true, "mode": "id", "value": "INSERT_SHEET_ID_HERE"},
        "sheetName": {"__rl": true, "mode": "name", "value": "Topics Queue"},
        "rowNumber": "={{ $('Parse AI Output').item.json.row_number }}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Script Status": "Done",
            "Video Status": "Uploaded",
            "YouTube URL": "={{ $json.url }}"
          }
        }
      },
      "id": "mark-done",
      "name": "Update Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [1780, 400],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "INSERT_CREDENTIAL_ID_HERE",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [{"node": "Read Next Content Idea", "type": "main", "index": 0}]
      ]
    },
    "Read Next Content Idea": {
      "main": [
        [{"node": "Write Script (Ollama)", "type": "main", "index": 0}]
      ]
    },
    "Write Script (Ollama)": {
      "main": [
        [{"node": "Parse AI Output", "type": "main", "index": 0}]
      ]
    },
    "Parse AI Output": {
      "main": [
        [{"node": "Flask Video Gen", "type": "main", "index": 0}]
      ]
    },
    "Flask Video Gen": {
      "main": [
        [{"node": "Wait 5 Mins", "type": "main", "index": 0}]
      ]
    },
    "Wait 5 Mins": {
      "main": [
        [{"node": "YouTube Upload (via Flask)", "type": "main", "index": 0}]
      ]
    },
    "YouTube Upload (via Flask)": {
      "main": [
        [{"node": "Update Sheets", "type": "main", "index": 0}]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
