files/01_current_setup/n8n_advanced_workflow.json
{
  "name": "YouTube Shorts Pipeline (Advanced Local Setup)",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 400]
    },
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "cronExpression", "expression": "0 9 * * 1-5"}]
        }
      },
      "id": "trigger-9am",
      "name": "Every Weekday @ 9AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [0, 560]
    },
    {
      "parameters": {
        "operation": "list",
        "documentId": {"__rl": true, "mode": "id", "value": "INSERT_SHEET_ID_HERE"},
        "sheetName": {"__rl": true, "mode": "name", "value": "Topics Queue"},
        "filters": {
          "conditions": [{"column": "Video Status", "operator": "isEmpty"}]
        },
        "options": {"limit": 1}
      },
      "id": "read-sheets",
      "name": "Read Next Content Idea",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [260, 400],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "INSERT_CREDENTIAL_ID_HERE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $input.all()[0].json;\n\nif (!text['Topic']) {\n  return [{ json: { error: 'No topic found' } }];\n}\n\nreturn [{\n  json: {\n    day: text['Day'],\n    category: text['Category'],\n    topic: text['Topic'],\n    row_number: text['row_number'],\n    video_id: `video_${Date.now()}`\n  }\n}];"
      },
      "id": "extract-today",
      "name": "Extract Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5000/generate_video",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"topic\": \"{{ $json.topic }}\",\n  \"category\": \"{{ $json.category }}\",\n  \"video_id\": \"{{ $json.video_id }}\"\n}",
        "options": {"timeout": 600000}
      },
      "id": "make-video",
      "name": "Flask Generate Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [780, 400]
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "minutes"
      },
      "id": "wait-node",
      "name": "Wait for Upload",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1040, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/youtube/v3/videos?part=snippet,status",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "snippet",
              "value": "={\n  \"title\": \"{{ $('Flask Generate Video').item.json.script.hook }} #shorts\",\n  \"description\": \"{{ $('Extract Data').item.json.category }}\\n\\n{{ $('Flask Generate Video').item.json.script.body }}\\n\\n#psychology #facts #shorts\",\n  \"tags\": [\"psychology\", \"facts\", \"shorts\"],\n  \"categoryId\": \"27\"\n}"
            },
            {
              "name": "status",
              "value": "={\n  \"privacyStatus\": \"public\",\n  \"madeForKids\": false,\n  \"selfDeclaredMadeForKids\": false\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "yt-upload",
      "name": "YouTube Upload",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1300, 400]
    },
    {
      "parameters": {
        "jsCode": "try {\n  const videoId = $input.all()[0].json.id;\n  const youtubeUrl = `https://youtube.com/shorts/${videoId}`;\n  \n  return [{\n    json: {\n      videoId: videoId,\n      youtubeUrl: youtubeUrl,\n      uploadTime: new Date().toISOString(),\n      uploadStatus: 'success'\n    }\n  }];\n} catch (e) {\n  return [{\n    json: {\n      uploadStatus: 'pending_processing',\n      message: 'YouTube may still be processing'\n    }\n  }];\n}"
      },
      "id": "extract-video-id",
      "name": "Extract Video ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 400]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {"__rl": true, "mode": "id", "value": "INSERT_SHEET_ID_HERE"},
        "sheetName": {"__rl": true, "mode": "name", "value": "Topics Queue"},
        "rowNumber": "={{ $('Extract Data').item.json.row_number }}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Script Status": "Done",
            "Video Status": "Uploaded",
            "YouTube URL": "={{ $json.youtubeUrl }}"
          }
        }
      },
      "id": "mark-done",
      "name": "Update Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [1820, 400],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "INSERT_CREDENTIAL_ID_HERE",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [{"node": "Read Next Content Idea", "type": "main", "index": 0}]
      ]
    },
    "Every Weekday @ 9AM": {
      "main": [
        [{"node": "Read Next Content Idea", "type": "main", "index": 0}]
      ]
    },
    "Read Next Content Idea": {
      "main": [
        [{"node": "Extract Data", "type": "main", "index": 0}]
      ]
    },
    "Extract Data": {
      "main": [
        [{"node": "Flask Generate Video", "type": "main", "index": 0}]
      ]
    },
    "Flask Generate Video": {
      "main": [
        [{"node": "Wait for Upload", "type": "main", "index": 0}]
      ]
    },
    "Wait for Upload": {
      "main": [
        [{"node": "YouTube Upload", "type": "main", "index": 0}]
      ]
    },
    "YouTube Upload": {
      "main": [
        [{"node": "Extract Video ID", "type": "main", "index": 0}]
      ]
    },
    "Extract Video ID": {
      "main": [
        [{"node": "Update Sheets", "type": "main", "index": 0}]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
